@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?-h0orci");
  src: url("../fonts/icomoon.eot?#iefix-h0orci") format("embedded-opentype"), url("../fonts/icomoon.woff?-h0orci") format("woff"), url("../fonts/icomoon.ttf?-h0orci") format("truetype"), url("../fonts/icomoon.svg?-h0orci#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icomoon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  padding: 0;
  margin: 0; }

header, main, nav, section, div {
  display: block;
  padding: 0;
  margin: 0; }

header, main {
  -webkit-animation: fadein 800ms;
  -webkit-animation-fill-mode: forwards;
  animation: fadein 800ms;
  animation-fill-mode: forwards; }

header {
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 1;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #5c5c5c; }

.info, main {
  padding: 13px; }

.profile, .description {
  height: 125px; }

.profile {
  width: 125px;
  margin-right: 10px; }
  .profile img {
    width: 100%;
    height: 100%;
    border: 5px #0884ed solid;
    border-radius: 0 50% 50% 50%; }

.description {
  width: 80%;
  padding-top: 32px;
  color: #dddfe0; }
  .description h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5em;
    color: inherit; }
  .description h3 {
    margin: 0;
    color: inherit; }
  .description .print-personal-info {
    display: none; }

.action-button {
  display: inline-block;
  padding: 10px;
  font-size: 2.5em;
  text-align: center;
  color: white;
  -webkit-user-select: none;
  text-decoration: none; }

.action-button:hover {
  cursor: pointer;
  background-color: white;
  color: #5c5c5c; }

.pdf::before {
  content: "\e600"; }

.email::before {
  content: "\e601"; }

.linked-in::before {
  content: "\e604"; }

.print::before {
  content: "\e602"; }

.menu::before {
  content: "\e603"; }

.active-menu-button {
  background-color: white;
  color: #5c5c5c; }

nav {
  clear: both; }
  nav li {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
    transition: border 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    -webkit-transition: border 0.2s cubic-bezier(0.47, 0, 0.745, 0.715); }
  nav li:hover, nav li.active {
    border-left: 8px #0884ed solid; }
    nav li:hover .nav-option, nav li.active .nav-option {
      color: black; }

.nav-options {
  display: none;
  z-index: 2;
  width: 45%;
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: white;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  vertical-align: middle;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.nav-option {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  color: #888888; }

li:last-child .nav-option {
  box-shadow: none; }

.show-menu {
  display: block; }

main {
  padding-top: 220px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px; }
  main .company-name {
    margin: 0; }
  main .position-title {
    margin: 5px 0; }
  main .bullet {
    font-size: 0.9em; }

.job {
  margin-bottom: 20px; }

.skills li {
  list-style-type: none; }

footer {
  padding-top: 15px;
  text-align: center; }
  footer p {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-weight: 300;
    font-size: 75%;
    font-style: italic;
    color: #b0b0b0; }

ul {
  font-size: inherit; }

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 2em; }

h2 {
  margin: 0;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87); }

h3 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0 0 5px 0;
  color: rgba(0, 0, 0, 0.54); }

h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.54); }

.left {
  float: left; }

.right {
  float: right; }

.light {
  font-weight: 300; }

.cf {
  zoom: 1; }
  .cf:before {
    content: " ";
    display: table; }
  .cf:after {
    content: " ";
    display: table;
    clear: both; }

@media screen and (max-width: 906px) {
  .info .description {
    padding-top: 12px; } }
@media screen and (max-width: 715px) {
  .info {
    font-size: 80%; }
    .info .description {
      width: 74%;
      padding-top: 34px; } }
@media screen and (max-width: 650px) {
  .toolbar {
    font-size: 85%; }
    .toolbar .action-button {
      padding: 6px; }
    .toolbar .nav-options {
      width: 100%;
      top: 46px; }

  nav li {
    padding: 10px; }

  .info {
    font-size: 80%;
    height: auto; }
    .info .profile {
      display: none; }
    .info .description {
      width: 100%;
      height: auto;
      padding: 0; }

  main {
    padding-top: 195px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 575px) and (orientation: landscape) {
  nav li {
    padding: 5px; }
  nav li:hover, nav li.active {
    border-left-width: 6px; }

  .toolbar {
    font-size: 50%; }
    .toolbar .nav-options {
      top: 32px; }

  .info {
    padding: 0 0 5px 6px; }
    .info .description h1 {
      float: left;
      line-height: 0.9em;
      font-size: 1em; }
    .info .description h3 {
      display: none; }

  main {
    font-size: 50%;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px; } }
@media print {
  main section {
    margin-bottom: 25px; }

  header {
    background-color: rgba(200, 200, 200, 0.2);
    box-shadow: none;
    position: relative; }
    header .description {
      color: rgba(0, 0, 0, 0.87);
      height: auto;
      padding: 0; }
      header .description .print-personal-info {
        display: block;
        margin-top: 15px; }
    header .toolbar {
      display: none; }
    header .profile {
      display: none; }
    header .info {
      border-bottom: 1px rgba(0, 0, 0, 0.2) solid; }

  main {
    padding: 10px; }
    main .skills li {
      list-style-type: disc; }

  footer {
    display: none; } }
