//main colors
$color-theme: #0884ed
$color-theme-light: #45aaff
$color-theme-dark: #5c5c5c

//text colors
$color-theme-text: #dddfe0

$color-standard-text: #555
$color-standard-text-light: #999
$color-standard-text-dark: #333

$color-nav-text: #ecf2f6
$color-nav-text-hover: #c6cbce