// everything over 1070px width
@media screen and (max-width: 906px)
	header
		.description
			padding-top: 12px

@media screen and (max-width: 700px)
	header
		font-size: 80%

		.description
			width: 74%
			padding-top: 34px

		.nav
			top: 12px

//mobile
@media screen and (max-width: 650px)
	header
		font-size: 80%
		height: auto
		overflow: initial

		.profile
			display: none

		.description
			width: 100%
			height: auto
			padding: 0

		.nav
			display: block
			position: absolute
			left: 8px
			top: 60px
			z-index: 10
			width: 250px
			margin: -300px 0 0 0
			background-color: $color-theme-dark
			color: $color-theme-light
			box-shadow: 0 2px 8px rgba(0,0,0,0.6)
			transition: margin 300ms ease
			overflow: auto

			&.show
				margin: 0

			li
				display: block
				height: 45px

			.nav-option
				display: block

			li a:hover, .active
				background-color: $color-theme

	main
		+main-padding(-25px)

	.menu-button
		display: inline-block

@media screen and (max-width: 575px) and (orientation: landscape)
	header
		font-size: 40%

		.description h1
			float: left
			line-height: 0.9em

		.description h3
			display: none

		.nav
			width: 100px
			top: 30px

			li
				height: auto

			.nav-option
				padding: 5px 2px


	.menu-button
		float: left
		padding: 0 8px 0 00
		margin: 0

	main
		font-size: 40%
		+main-padding(-170px)
